@charset "UTG-8";

@font-face {
    font-family: 'kiona';
    src: url(Kiona-Regular.ttf) format('opentype');
    font-weight: normal;
    font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* { 
    margin: 0px;
    padding: 0px;
}


/* 
header {
    
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-transform: lowercase;
    position: relative;
    top: 15px;
    right: 180px; 
    text-align: right;
     
}

main h1.projeto {

    font-family: "Kiona", Courier, monospace;
    font-size: 30px;
    position: absolute;
    top: 700px;
    left: 30px; 
    transform: translateX(300px);

} */


