@charset "UTG-8";

@font-face {
    font-family: 'kiona';
    src: url(Kiona-Regular.ttf) format('opentype');
    font-weight: normal;
    font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor0: #f1f1ff1;
    --cor1: #7300B6
    --cor2: #000000;


    --fonte-padrao: "Montserrat", sans-serif;
    --fonte-destaque: "Kiona", Courier, monospace;

}


* { 
    margin: 0px;
    padding: 0px;
}


body {

    background-color: black;
    font-family: var(--fonte-padrao);
    color: white;
    
}

main > nav {

    background-color: blueviolet;
    width: 250px;
    height: 800px;
    font-size: 1em;
}

nav > a {

    color: white;
    display: block; 
    padding: 20px;
    margin-inline-start: 50px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: .5s;

}

main {

    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(163, 163, 163, 0.151);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > nav {
    background-color: blueviolet;
    width: 250px;
    height: 800px;
    font-size: 1em;
    margin-right: 20px; 
}

.content {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

h1, h2 {
    margin-left: 10px;
    font-family: var(--fonte-destaque);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}
